docker
zookeeper
mesosphere
.vagrant
.vagrant-salt/docker
.vagrant-salt/docker-formula/
.vagrant-salt/mesosphere
.vagrant-salt/mesosphere-formula/
.vagrant-salt/zookeeper
.vagrant-salt/zookeeper-formula/
